@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	background: #FFFFFF;
}

img{
	display: block;
	max-width: 100%;
}

.container{
	width: 1140px;
	margin: 0 auto;
}

.head__navbar{
    background-color: #222222;
    height: 75px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 111px;
    padding-top: 18px;
    padding-bottom: 19px;
    margin-left: 231px;
}

.button_head{
    background-color: #222222;
    border: none;
}

.head_img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 159px;
    margin-right: 240px;
    padding-top: 27px;
    padding-bottom: 20px;
}

.head_title{
    background-color: #F1E4E6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 764px;
    align-items: center;
    gap: 92px;
}

.image{
    min-width: 801px;
}

.side_head_right{
    width: 405px;
}

.text{
    font-family: 'Lato';
    font-weight: 900;
    font-size: 48px;
    line-height: 1;
    color: #222222;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.title{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.title_pink {
    color: #F16D7F;
}

.top_cards {
    display: grid;
    height: 470px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-top: 65px;
}

.top_card {
    position: relative;
    text-align: center;
    height: min-content;
}

.top_card_big {
    grid-area: 2 / 1 / 3 / 4;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(33, 22, 22, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centered_h3{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.centered_h2{
    font-family: 'Lato';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.products{
    margin-top: 96px;
}

.main_title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_title_h3{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 30px;
    line-height: normal;
    color: #222222;
}

.main_title_p{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-top: 6px;
}

.all_cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-top: 48px;
}

.product_card{
    display: flex;
    flex-direction: column;
}

.card_text{
    background-color: #F8F8F8;
    padding-left: 16px;
    padding-right: 29px;
}

.card_text_h3{
    padding-top: 24px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.card_text_p{
    margin-top: 12.6px;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.card_text_h4{
    margin-top: 18px;
    padding-bottom: 20px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.bottom_button{
    margin-top: 48.5px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_style{
    width: 211px;
    height: 47px;
    border: 1px solid #FF6A6A;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background-color: #FFFFFF;
}


/*Семинар 12 */


@media (max-width: 1439px) and (min-width: 768px) {
    .container {
        width: 736px;
    }

    .head__navbar{
        max-width: 100%;
    }

    .logo {
        margin-left: 32px;
    }

    .head_img{
        margin-right: 32px;
        width: 160px;
    }

    .head_title {
        height: 368px;
        gap: 0;
    }

    .image {
        min-width: 386px;
    }

    .side_head_right {
        display: flex;
        flex-direction: row;
        margin-left: 39px;
        margin-top: 138px;
        margin-bottom: 138px;
        width: 311px;
        height: 92px;
    }

    .text {
        font-size: 44px;
        line-height: 0.9;
    }

    .title {
        font-size: 24px;
        line-height: 28px;
    }

    .top_cards {
        height: 303px;
        gap: 20px;
    }

    .products {
        margin-top: 110px;
    }

    .main_title_p {
        margin-top: 3px;
    }

    .all_cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 16px;
        margin-top: 72px;
    }

    .bottom_button {
        margin-top: 33px;
        margin-bottom: 65px;
    }

    .right_icon{
        padding-left: 42px;
    }

    .center_icon{
        padding-left: 25px;
    }
    
    .left_icon{
        padding-top: 4px;
    }
}

@media (max-width: 767px) and (min-width: 320px){

    .container{
        width: 359px;
    }

    .head__navbar{
        max-width: 100%;
    }

    .head_title{
        height: 363px;
    }
 
    .head_img{
        margin-right: 16px;
        width: 32px;
    }

    .center_icon{
        display: none;
    }

    .right_icon{
        display: none;
    }

    .logo{
        margin-left: 16px;
    }

    .image{
        display: none;
    }

    .side_head_right{
        display: flex;
        flex-direction: row;
        margin-left: 56px;
        margin-top: 148px;
        margin-bottom: 149px;
        width: 263px;
        height: 66px;
    }

    .text{
        padding-top: 6px;
        font-size: 38px;
        line-height: 0.7;
    }

    .title{
        font-size: 20px;
        line-height: 24px;
    }

    .top_cards{
        display: grid;
        grid-template-columns: 1fr;
        width: 343px;
        height: auto;
        margin: auto;
        margin-top: 64px;
        gap: 32px;
    }

    .top_card_big {
        grid-area: 4 / 1 / 5 / 2;
        height: 111px;
    }

    .img_big{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .products {
        margin-top: 64px;
    }

    .all_cards {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 64px;
    }


    .bottom_button {
        margin-top: 41px;
    }
}

