@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	background: #FFFFFF;
}

img{
	display: block;
	max-width: 100%;
}

.container{
	width: 1140px;
	margin-left: 224px;
}

.head__navbar{
    background-color: #222222;
    height: 75px;
    display: flex;
    justify-content: space-between;
    width: 1600px;
}

/* Семинар16(меню) */
#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked ~ .menu__box {
    right: 0 !important;
}

.menu__btn {
    padding-right: 25px;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 32px;
    height: 3px;
    background-color: #e8e8e8;
    transition-duration: 0.25s;
}

.menu__btn > span {
    margin-top: -5px;
    padding-right: 10px;
}
.menu__btn > span::before {
    content: "";
    top: -10px;
}
.menu__btn > span::after {
    content: "";
    top: 10px;
}
.menu__box{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 75px;
    right: -200%;
    width: 232px;
    height: 634px;
    margin: 0;
    padding-top: 32px;
    padding-left: 33px;
    list-style: none;
    background-color: #ffffff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
    z-index: 10;
}

.menu__box h2 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.menu__box h3 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #f16d7f;
    padding-top: 20px;
}
.menu__item {
    display: block;
    padding-left: 20px;
    padding-top: 12px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
    transition-duration: 0.25s;
}


.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 111px;
    padding-top: 18px;
    padding-bottom: 19px;
    margin-left: 231px;
}

.button_head{
    background-color: #222222;
    border: none;
}

.head_img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 159px;
    margin-right: 240px;
    padding-top: 27px;
    padding-bottom: 20px;
}

.head_title{
    background-color: #F1E4E6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 764px;
    align-items: center;
    gap: 92px;
}

.image{
    min-width: 801px;
}

.side_head_right{
    width: 405px;
}

.text{
    font-family: 'Lato';
    font-weight: 900;
    font-size: 48px;
    line-height: 1;
    color: #222222;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.title{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.title_pink {
    color: #F16D7F;
}

.top_cards {
    display: grid;
    height: 470px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-top: 65px;
}

.top_card {
    position: relative;
    text-align: center;
    height: min-content;
}

.top_card_big {
    grid-area: 2 / 1 / 3 / 4;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(33, 22, 22, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centered_h3{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.centered_h2{
    font-family: 'Lato';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.products{
    margin-top: 96px;
}

.main_title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_title_h3{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 30px;
    line-height: normal;
    color: #222222;
}

.main_title_p{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-top: 6px;
}

.all_cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-top: 48px;
}

/* Семинар16(Кнопка на девочке) */

.prod_image_cont{
    position: relative;
}
.prod_image_cont:before {
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    top:0;left:0;right:0;
    background-color:rgba(0,0,0,0);
}

.prod_image_cont:hover::before {
    background: rgba(58, 56, 56, 0.86);
}

.prod_image_cont img {
    display:block;
}

.prod_image_cont .btn {
    width: 138px;
    height: 43px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity:0;
    background: none;
    border: 1px solid #FFFFFF;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
} 
  
.prod_image_cont:hover button {   
    opacity: 1;
}

.product_card{
    display: flex;
    flex-direction: column;
}

.card_text{
    background-color: #F8F8F8;
    padding-left: 16px;
    padding-right: 29px;
}

.card_text_h3{
    padding-top: 24px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.card_text_p{
    margin-top: 12.6px;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.card_text_h4{
    margin-top: 18px;
    padding-bottom: 20px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.bottom_button{
    margin-top: 48.5px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_style{
    width: 211px;
    height: 47px;
    border: 1px solid #FF6A6A;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background-color: #FFFFFF;
}

/* Семинар16 */
.footer_info {
    height: 341px;
    width: 1600px;
    margin: auto;
    background: #222224;
    margin-top: 95px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.footer_info_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 103px;
    width: 360px;
    height: 133px;
    justify-content: space-between;
}

.footer_info_h2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.footer_info_p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.footer_subscribe{
    position: relative;
    height: 448px;
    background-image: url(./img/footer\ font.png);
    background-repeat: no-repeat;
    background-position: center;
}

.footer_blur{
    background: rgba(244, 244, 244, 0.7);
    height: 448px;
    width: 1600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.fonts_super{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 223px;
}

.footer_subscribe_info{
    width: 360px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.subscribe_p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    height: 99px;
}

.footer_subsc{
    width: 557px;
    height: 142px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer_subsc_text{
    text-align: center;
}

.footer_subsc_text_h2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #222224;
}

.footer_subsc_text_p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #222224;
}

.footer_subsc_form_btn form{
    width: 356px;
    height: 49px;
    display: flex;
    justify-content: center;
}

.input_footer_subsc_form_btn{
    width: 256px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    background: #E1E1E1;
	border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
	position: relative;
    z-index: 1;
	overflow: hidden;
    padding-left: 22px;
    border: none;
}

.button_footer_subsc_form_btn{
    width: 100px;
    height: 49px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #F16D7F;
    cursor:pointer;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	vertical-align: middle;	
    padding-left: 15px;
    border: none;
}

.footer_navbar {
    height: 79px;
    width: 1600px;
    margin: 0 auto;
    align-items: center;
    background: #222224;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer_navbar_p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    margin-left: 235px;
}

.footer_navbar_icons {
    width: 148px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    margin-right: 230px;
}

.footer_navbar_icons a{
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
.fa{
    width: 31px;
    height: 32px;
    background: #FFFFFF;
    color: #000000;
}

.fa:hover{
    background: #F16D7F;
    color: #FFFFFF;
}

/*Семинар 12 */
@media (max-width: 1439px) and (min-width: 768px) {
    .container {
        width: 736px;
        margin: auto;
    }

    .head__navbar{
        max-width: 100%;
    }

    .logo {
        margin-left: 32px;
    }

    .head_img{
        margin-right: 32px;
        width: 160px;
    }

    .head_title {
        height: 368px;
        gap: 0;
    }

    .image {
        min-width: 386px;
    }

    .side_head_right {
        display: flex;
        flex-direction: row;
        margin-left: 39px;
        margin-top: 138px;
        margin-bottom: 138px;
        width: 311px;
        height: 92px;
    }

    .text {
        font-size: 44px;
        line-height: 0.9;
    }

    .title {
        font-size: 24px;
        line-height: 28px;
    }

    .top_cards {
        height: 303px;
        gap: 20px;
    }

    .products {
        margin-top: 110px;
    }

    .main_title_p {
        margin-top: 3px;
    }

    .all_cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 16px;
        margin-top: 72px;
    }

    .bottom_button {
        margin-top: 33px;
        margin-bottom: 65px;
    }

    .right_icon{
        padding-left: 42px;
    }

    .center_icon{
        padding-left: 25px;
    }
    
    .left_icon{
        padding-top: 4px;
    }

    /* Семинар16 */
    .footer_info {
        height: 610px;
        width: 768px;
        margin-top: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    .footer_info_card{
        margin: 0 auto;
    }

    .footer_subscribe{
        height: 693px;
        width: 768px;
        margin: 0 auto;
        background-size: cover;
    }
    .footer_blur{
        height: 693px;
        width: 768px;
    }

    .fonts_super{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;
    }

    .fonts{
        width: 768px;
        height: 693px;
    }

    .footer_navbar{
        width: 768px;
    }

    .footer_navbar_p{
        margin-left: 32px;
    }
    
    .footer_navbar_icons{
        margin-right: 23px;
    }
}

/* Семинар 14 */
@media (max-width: 767px) and (min-width: 320px){

    .container{
        width: 359px;
        margin: auto;
    }

    .head__navbar{
        max-width: 100%;
    }

    .head_title{
        height: 363px;
        display: grid;
        justify-items: center;
    }
 
    .head_img{
        margin-right: 16px;
        width: 32px;
    }

    .center_icon{
        display: none;
    }

    .right_icon{
        display: none;
    }

    .logo{
        margin-left: 16px;
    }

    .image{
        display: none;
    }

    .side_head_right{
        display: flex;
        flex-direction: row;
        margin-left: 56px;
        margin-top: 148px;
        margin-bottom: 149px;
        width: 263px;
        height: 66px;
    }

    .text{
        padding-top: 6px;
        font-size: 38px;
        line-height: 0.7;
    }

    .title{
        font-size: 20px;
        line-height: 24px;
    }

    .top_cards{
        display: grid;
        grid-template-columns: 1fr;
        width: 343px;
        height: auto;
        margin: auto;
        margin-top: 64px;
        gap: 32px;
    }

    .top_card_big {
        grid-area: 4 / 1 / 5 / 2;
        height: 111px;
    }

    .img_big{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .products {
        margin-top: 64px;
    }

    .all_cards {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 64px;
    }


    .bottom_button {
        margin-top: 41px;
    }

    /* Семинар16 */
    .footer_info{
        width: 375px;
        height: 610px;
        gap: 46px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_info_card{
        margin-top: 0%;
    }

    .footer_subscribe{
        height: 550px;
        width: 375px;
        margin: 0 auto;
    }
    .footer_blur{
        height: 550px;
        width: 375px;
    }

    .fonts_super{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;
    }

    .fonts{
        height: 550px;
    }

    .footer_navbar{
        width: 375px;
        height: 143px;
        flex-direction: column-reverse;
    }

    .footer_navbar_p{
        margin-left: 0px;
        margin-bottom: 9px;
    }
    
    .footer_navbar_icons{
        margin-right: 0px;
        margin-top: 43px;
    }

    .footer_subscribe_info{
        width: 343px;
        height: 194px;
        justify-content: space-between;
    }
    
    .subscribe_p {
        height: 73px;
        font-size: 18px;
    }
    
    .footer_subsc{
        width: 341px;
        height: 123px;
    }
    
    .footer_subsc_text{
        text-align: center;
    }
    
    .footer_subsc_text_h2{
        line-height: 36px;
    }
    
    .footer_subsc_text_p{
        font-size: 14px;
        line-height: 21.45px;
    }
    
    .footer_subsc_form_btn form{
        width: 341px;
        height: 47px;
    }

    .input_footer_subsc_form_btn{
        width: 245px;
    }
    
}


